# 鸢尾花数据集

鸢尾花数据集包括五列: 花瓣长度 花瓣宽度 花萼长度 花萼宽度 以及鸢尾花种类.

该数据集一共有150行数据, 对应150个样本.

通过花瓣/花萼的长度/宽度共四个特征,可以判断/预测鸢尾花的种类.

In [25]:
import matplotlib.pyplot as plt

# 通过ipython的模仿方法,将会支出的图像直接嵌入到notebook的单元格中
%matplotlib inline

# 设置绘图大小
plt.style.use({'figure.figsize': (10, 8)})

seaborn是基于matplotlib的Python可视化库.将matplotlib库进行了进一步的封装,使用更加简单,绘图更加美观.

In [26]:
# 导入python可视化库seaborn
import seaborn as sns

# 设置seaborn的绘图主题为whitegrid
sns.set_style('whitegrid')

In [27]:
# 导入NumPy和Pandas
import numpy as np
import pandas as pd

In [28]:
# 导入鸢尾花数据集
iris = pd.read_csv('../assets/iris.csv')
# 删除Id列的内容
iris.drop('Id', axis=1, inplace=True)

In [29]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [30]:
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000